/* Reset */
-------------------------------------------------------------------
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { padding: 0; margin: 0; }
ul, ol { list-style: none; }
img { border: none; }

/* Global */

* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    font: 12px/140% Arial, Helvetica, sans-serif;
    background: url('/i/bg.png') repeat;
    height: 100%;
    color: #515151;
}

body * {
    line-height: 140%;
}

h1, h2, h3, h4, h5, h6{
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    letter-spacing: normal;
    font-weight: normal;
}

input, textarea, select, button {
    font: normal 13px Arial, Helvetica, sans-serif;
}

p {
    margin: 1em 0;
}
h1 + p,
h1 + ul,
h2 + p,
h2 + ul,
h3 + p,
h3 + ul,
h4 + p,
h4 + ul,
h5 + p,
h5 + ul {
    margin-top: 0.5em;
}
* + h1,
* + h2,
* + h3,
* + h4,
* + h5 {
    margin-top: 1.5em;
}
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5 {
    margin-top: 1em;
}
img, a img {
    border: 0;
}

/*
 * Global modificators
 */

 .__hidden {
     display: none;
 }
 .__default {
    color: #DDD;
 }
 .__error {
     color: red;
     font-weight: bold;
 }
 .__clr_both {
     clear: both;
 }

/*
 * Twitter app
 */

#twitter_app {
    position: relative;
    width: 50%;
    margin: 0 auto;
    padding: 2em;
}

#twitter_app .i-headline {
    margin-bottom: 1em;
}

.b-form {
    position: relative;
}

.b-form .i-username_input {
    padding: .6em;
    width: 10em;
    font-size: 2em;
    border: 1px solid #cfcfcf;
}

#twitter_app .i-ajax_loader {
    position: absolute;
    left: -20px;
    top: 2px;
}
#twitter_app .i-profile_img {
    float: left;
    margin-right: 1em;
}
#twitter_app .i-embedded {
    margin-left: 6em;
}