{% for el in replies %}
    <div>
        <img src="{{ el.reply_to.user.profile_image_url }}" class="i-profile_img" />
        <p>{{ el.reply_to.text }}</p>
        <div class="__clr_both"></div>

        {% for tweet in el.tweets %}
        <div class="i-embedded" >
            <img src="{{ tweet.user.profile_image_url }}"  class="i-profile_img" />
            <p>{{ tweet.text }}</p>
            <div class="__clr_both"></div>
        </div>
        {% endfor %}
    </div>
{% endfor %}