{% extends 'base.html' %}
{% block title %}Future Colors | Twitter{% endblock title %}
{% block media %}
<script type="text/javascript" src="/js/twitterapp.jquery.js"></script>
<script type="text/javascript">
$(function(){
    $('#twitter_app').twitterapp();
});
</script>
{% endblock media %}
{% block content %}
<div id="twitter_app">
    <h1 class="i-headline">Twitter app</h1>
    <div class="b-errors">
    </div>
    <div class="b-form">
        <img src="/i/ajax-circle.gif" class="i-ajax_loader __hidden" >
        <input class="i-username_input" type="text" value="" title="Имя пользователя" />
    </div>
    <div class="b-tweets">

    </div>
</div>
{% endblock %}
